[submodule "MACHINE_LEARNING_PROJET_WALMART"]
	path = MACHINE_LEARNING_PROJET_WALMART
	url = https://github.com/Simoncld8/MACHINE_LEARNING_PROJET_WALMART.git
[submodule "MACHINE_LEARNING_CONVERSION_RATE"]
	path = MACHINE_LEARNING_CONVERSION_RATE
	url = https://github.com/Simoncld8/MACHINE_LEARNING_CONVERSION_RATE.git
[submodule "UNSUPERVISED_MACHINE_LEARNING_UBER"]
	path = UNSUPERVISED_MACHINE_LEARNING_UBER
	url = https://github.com/Simoncld8/UNSUPERVISED_MACHINE_LEARNING_UBER.git
